{% schema %}
{
  "name": "Image with Text Banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "product_banner_image",
      "label": "product_Banner Image"
    },
    {
      "type": "text",
      "id": "product_banner_heading",
      "label": "product_Banner Heading",
      "default": "Hello, Model 02 Sofa Bed"
    },
    {
      "type": "textarea",
      "id": "product_banner_text_top",
      "label": "model Description",
      "default": "Model"
    },
    {
      "type": "textarea",
      "id": "product_banner_text",
      "label": "product_Banner Description",
      "default": "Our most requested sofa yet. The Model 02 as a sofa bed..."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Shop Model 02 Sofa beds"
    },
    {
      "type": "url",
      "id": "button_link_home",
      "label": "Button Link",
      "default": "/"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image Position",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with Text product_Banner",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}

<div class="page-width">
  <div class="image-with-text image-with-text--no-overlap isolate scroll-trigger animate--slide-in">
    <div class="image-with-text__grid grid grid--gapless grid--1-col grid--2-col-tablet {% if section.settings.image_position == 'right' %}image-with-text__grid--reverse{% endif %}">
      
      <div class="image-with-text__media-item image-with-text__media-item--medium image-with-text__media-item--top grid__item">
        <div class="image-with-text__media image-with-text__media--adapt global-media-settings background-transparent media" style="padding-bottom: 100%;">
          {% if section.settings.product_banner_image %}
            <img
              src="{{ section.settings.product_banner_image | image_url: width: 1500 }}"
              alt=""
              width="1500"
              height="1000"
              loading="lazy"
              class="image-fit"
              sizes="(min-width: 1500px) 700px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
              srcset="
                {{ section.settings.product_banner_image | image_url: width: 165 }} 165w,
                {{ section.settings.product_banner_image | image_url: width: 360 }} 360w,
                {{ section.settings.product_banner_image | image_url: width: 535 }} 535w,
                {{ section.settings.product_banner_image | image_url: width: 750 }} 750w,
                {{ section.settings.product_banner_image | image_url: width: 1070 }} 1070w,
                {{ section.settings.product_banner_image | image_url: width: 1500 }} 1500w
              "
            >
            {% else %}
            <img
              src="{{ 'homeimg1.webp' | asset_url }}"
              alt=""
              width="1500"
              height="1000"
              loading="lazy"
              class="image-fit"
              sizes="(min-width: 1500px) 700px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
              srcset="
                {{ section.settings.product_banner_image | image_url: width: 165 }} 165w,
                {{ section.settings.product_banner_image | image_url: width: 360 }} 360w,
                {{ section.settings.product_banner_image | image_url: width: 535 }} 535w,
                {{ section.settings.product_banner_image | image_url: width: 750 }} 750w,
                {{ section.settings.product_banner_image | image_url: width: 1070 }} 1070w,
                {{ section.settings.product_banner_image | image_url: width: 1500 }} 1500w
              "
            >
          {% endif %}
        </div>
      </div>

      <div class="image-with-text__text-item grid__item">
        <div class="image-with-text__content product image-with-text__content--top image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt content-container background-transparent">

          {% if section.settings.product_banner_text_top %}
            <div class="image-with-text__text rte body">
              <p>{{ section.settings.product_banner_text_top }}</p>
            </div>
          {% endif %}

          {% if section.settings.product_banner_heading %}
            <h2 class="image-with-text__heading inline-richtext h3">{{ section.settings.product_banner_heading }}</h2>
          {% endif %}

          {% if section.settings.product_banner_text %}
            <div class="image-with-text__text rte body">
              <p>{{ section.settings.product_banner_text }}
              {% if section.settings.button_label and section.settings.button_link_home %}
                <a href="{{ section.settings.button_link_home }}" class="product-desc-link">
                  {{ section.settings.button_label }}
                </a>
              {% endif %}
              </p>
            </div>
          {% endif %}


        </div>
      </div>

    </div>
  </div>
</div>
